<div class="image">
    <img src="../../../../assets/img/mussum2.jpeg" alt="">
    <div class="titleBox">
        <div class="title">
            <h3>Dados do usuáris</h3>
        </div>
    </div>
    <div class="body">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <label class="control-label">Bancis</label>
                </div>
                <div class="col-sm-7 col-xs-7 jm-clear-p">
                    <input class="form-control" type="text" disabled/>
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Agencis</label>
                    </div>
                    <div class="col-sm-7 col-xs-7 jm-clear-p">
                        <input class="form-control" type="text" disabled/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Contis</label>
                    </div>
                    <div class="col-sm-7 col-xs-7 jm-clear-p">
                        <input class="form-control" type="text" disabled/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Nome Completis</label>
                    </div>
                    <div class="col-sm-7 col-xs-7 jm-clear-p">
                        <input class="form-control" type="text" disabled/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Emais</label>
                    </div>
                    <div class="col-sm-7 col-xs-7 jm-clear-p">
                        <input class="form-control" type="text" disabled/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Telefonis</label>
                    </div>
                    <div class="col-sm-7 col-xs-7 jm-clear-p">
                        <input class="form-control" type="text" disabled/>
                    </div>
                </div>
            </div>
    </div>
</div>