.headerNavBar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}


.navBar {
    display: flex;
}

.navBar a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    color: #fff;
    margin: 15px;
}
.navBar a:hover{
    color: #00CCFF;
}

.logo{
    cursor: pointer;
}