<header class="headerNavBar">
    <div class="container">
        <div class="logo">
            <img class="logoImg" src="../../../assets/img/LogoSemFundo.png" alt="">
        </div>
        <nav class="navBar">
            <a href="#">Si num tem</a>
            <a href="#">leite então</a>
            <a href="#">bota uma</a>
            <a href="#">pinga aí</a>
            <a href="#">cumpadi</a>
        </nav>
        <button type="button" class="btn btn-info" [routerLink]="['/login']" >Login</button>
    </div>
</header>