<!-- <div class="container wrap">
    <div class="item">
        <img src="../../../assets/img/pexels-cottonbro-3943723.jpg" alt="">
    </div>
    <div class="item">
        <h2>ESTA MUITO BEM PARA MIM</h2>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="pig" src="../../../assets/img/pexels-cottonbro-3943723.jpg" alt="">
        </div>
        <div class="col-6">
            <div class="loginContainer">
                <div class="logo">
                    <img src="../../../assets/img/LogoSemFundo.png" alt="">
                </div>
                <div class="form">
                        <div class="form-group">
                            <!-- <label for="formGroupExampleInput">Email</label> -->
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <!-- <label for="formGroupExampleInput">Email</label> -->
                            <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Senha">
                        </div>
                        <button type="button" class="btn btn-info">Login</button>
                        <p>Não é registrado? <a [routerLink]="['/signIn']">Cadastre aqui!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>