<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="loginContainer">
                <div class="logo">
                    <img src="../../../assets/img/LogoSemFundo.png" alt="">
                </div>
                <div class="form">
                    <div class="form-group">
                        <!-- <label for="formGroupExampleInput">Email</label> -->
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome Completo">
                    </div>
                    <div class="form-group">
                        <!-- <label for="formGroupExampleInput">Email</label> -->
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <!-- <label for="formGroupExampleInput">Email</label> -->
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="formGroupExampleInput">Email</label> -->
                        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Senha">
                    </div>
                    <button type="button" class="btn btn-info" [routerLink]="['/login']">Registrar</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img class="pig" src="../../../assets/img/pexels-jonathan-borba-3689188.jpg" alt="">
        </div>
    </div>
</div>