<div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="row justify-content-center pt-5">
        <div class="col-6 pt-5 mt-5">
                <h2>Mussum Ipsum, cacilds vidis litro abertis.</h2>
                <p>Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça</p>
                <button type="button" class="btn btn-info" [routerLink]="['/signIn']">Cadastre-se</button>
        </div>
        <div class="col-4 pb-5 mb-4">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_yioBzh.json" background="transparent"
                speed="1.2" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
        </div>
    </div>

</div>