.mainContainer {
    margin: 0;
}

.container {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/img/pexels-lukas-684387.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.landPageContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.text {
    padding-left: 45px;
}

h2 {
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    max-width: 640px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0px;
}

p {
    font-size: 1em;
    color: #00CCFF;
    max-width: 460px;
    font-family: 'Nunito', sans-serif;
    vertical-align: center;
}

@media(max-width: 768px) {
    .landPageContainer {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text {
        margin-top: 25px;        
        padding-left: 45px;
    }
}