<div class="mainContainer">
    <div class="container">
        <app-nav-bar></app-nav-bar>
        <div class="landPageContainer">
            <div class="text">
                <h2>Mussum Ipsum, cacilds vidis litro abertis.</h2>
                <p>Casamentiss faiz malandris se pirulitá. Leite de capivaris, leite de mula manquis sem cabeça</p>
                <button type="button" class="btn btn-info" [routerLink]="['/signIn']">Cadastre-se</button>
            </div>
            <div class="image">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_yioBzh.json" background="transparent"
                    speed="1.2" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>