<div class="image">
    <img src="../../../../assets/img/mussumpretoebranco.jpg" alt="">
    <div class="titleBox">
        <div class="title">
            <h3>Extrato</h3>
        </div>
    </div>
    <div class="body">
      <p>Rio de Janeiro, 12 de Novembro de 2020</p>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Descricao</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10/11/2020</td>
                <td>Postis Shell Barra da Tijucis</td>
                <td>- R$ 40,00</td>
              </tr>
              <tr>
                <td>11/11/2020</td>
                <td>McDonaldis Lanchis</td>
                <td>- R$ 29,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
              <tr>
                <td>12/11/2020</td>
                <td>Celular Iphonis</td>
                <td>- R$ 4.000,00</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
