<div class="image">
    <img src="../../../../assets/img/mussumpretoebranco.jpg" alt="">
    <div class="titleBox">
        <div class="title">
            <h3>Extrato</h3>
        </div>
    </div>
    <div class="body" *ngIf="bankStatements !== undefined">
      <p>Rio de Janeiro, 12 de Novembro de 2020</p>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Descricao</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let statements of bankStatements">
                <td>{{statements.date | date}}</td>
                <td>{{statements.description}}</td>
                <td>- {{statements.value | currency:'BRL'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
