/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(0,18,93);
    background: linear-gradient(90deg, rgba(0,18,93,1) 0%, rgba(9,9,121,1) 35%, rgba(0,57,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
}